<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apme_flat&quot;}">
  <meta name="vaadin-version" content="7.7.0">
 </head> 
 <body> 
  <vaadin-vertical-layout size-full> 
   <vaadin-vertical-layout size-auto :middle :center> 
    <vaadin-form-layout size-auto> 
     <vaadin-text-field caption="User" _id="usernameField"></vaadin-text-field> 
     <vaadin-password-field caption="Password" _id="passwordField"></vaadin-password-field> 
    </vaadin-form-layout> 
    <vaadin-horizontal-layout width-full> 
     <vaadin-button plain-text _id="loginButton" :right>
       Button 
     </vaadin-button> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>